# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\brutchjw\Documents\CSSE490\HW5\sp21_hw5-build-your-own-assignment-rhit-brutchjw\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
